<!--
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
savia/plantillas/relaciones/responderMensaje.html
Julian Perez
Ultima modificacion: Agosto 03 de 2009, 10:33
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
-->



<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->

{% extends "base.html" %}

{% load etiquetas %}

{% block tituloBarra %}
   mis mensajes recibidos: responder mensaje
{% endblock %}

{% block importarEstilos %}
	{% if usuarioActual.is_staff %}{% cargarCSS "admin/base" %}{% endif %}
{% endblock %}

{% block contenido %}

	{% include "relaciones/enlaces_menuMensajes.html" %}

   <p class="p_textoTitulo encabezado">
		Mis mensajes recibidos: responder mensaje
   </p>

	{% if formulario %}	
		Hay una conversaci&oacute;n en curso.<br/>
		Debes estar atento... y no perder el contexto.<br/>
		Lee con cuidado y responde r&aacute;pido.<br/>
		<br/>
		{% if formulario %}
			Para responder el mensaje, diligencia el formulario a continuaci&oacute;n<br/>
			<br/>	
			{% if errorOperacion %}
				{% crearMensajeEstadoError errores_errorFormulario %}
			{% endif%}		
			<div class="div_cuadroInterno">
				<b><a title="mis mensajes recibidos | {{ nombreAplicacion }}" href="{% url enlace_mostrarMensajes_recibidos %}?pagina={{ paginaOrigenMensaje }}">regresar</a></b><br/>
				<br/>			
				En referencia al mensaje que recibiste de <b>{{ mensajeActual.usuarioOrigen.get_full_name }} ({{ mensajeActual.usuarioOrigen.username }})</b>, 
				{% mostrarFechaHoraContextual mensajeActual.fechaHoraCreacion %} ({{ mensajeActual.fechaHoraCreacion|date:"j \de F \de Y, \a \l\a\s g:iA" }}):<br/>
				<br/>
				<b><u>{{ mensajeActual.titulo }}</u></b><br/>
				<i>{{ mensajeActual.contenido }}</i><br/>
				<br/>
				<hr>
				<form action="{% url enlace_responderMensaje mensajeActual.id %}" method="post" onSubmit="return validarFormulario_completo()">
					{{ formulario.as_p }}
					<input class="input_boton" type="submit" value="responder el mensaje"/>
				</form>
			</div>
			<p class="p_textoTitulo sugerencia">
				Para tener en cuenta
			</p>
			<ul>
				<li>Todos los campos son <u>obligatorios</u>.</li>
				<li>El campo <i>Respuesta</i> debe tener <u>como m&aacute;ximo 555 caracteres</u> de longitud.</li>
			</ul>
		{% endif %}
	{% else %}
		{% crearMensajeEstadoExito "&iexcl;Listo!<br/>Tu mensaje fue enviado.<br/>Satisfactoriamente." %}
		Y un <b>nuevo mensaje</b> sale hacia su destino.<br/>
		Esta vez, como <b>respuesta</b> a otro anterior.<br/>
		De nuevo, basta con que <b>esperes</b> una respuesta oportuna.<br/>
	{% endif %}		
	<br/>
	&mdash;
	<br/><br/>
	Haz clic {% crearEnlaceInicio "aqu&iacute;" "" %} para regresar a la p&aacute;gina de inicio.<br/>
	O {% crearEnlace "enlace_mostrarMensajes_recibidos" "" "" "" "mis mensajes recibidos" "aqu&iacute;" %} para regresar a tus mensajes recibidos.
{% endblock %}

<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->