/*
----------------------------------------------------------------------
---
savia/media/css/usuarios/base.css
Julian Perez
Ultima modificacion: Julio 28 de 2009, 22:36
---
----------------------------------------------------------------------
*/



/* ---------------------------------------------------------------------- */

#div_menuAyuda
{
   padding: 0em 1em 1em 1em;
	margin: 0em;
	border-top: #1E2444 solid 2px;
	border-bottom: #1E2444 solid 2px;
}

/* ---------------------------------------------------------------------- */